<div class="d-flex justify-content-center">
  <a href="<%= ref %>"><button class="btn btn-primary">Edit</button></a>
  <button
    type="button"
    class="btn btn-danger"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
  >
    Delete
  </button>
</div>
