<div class="text-center">
  <h1>Runescape Inventory</h1>
  <h2>CRUD Application</h2>
  <p>
    <b>C</b
    ><span class="text-body-secondary"
      >reate your own item and/or categories</span
    >
  </p>
  <p>
    <b>R</b
    ><span class="text-body-secondary">ead all items and/or categories</span>
  </p>
  <p>
    <b>U</b
    ><span class="text-body-secondary">pdate all items and/or categories</span>
  </p>
  <p>
    <b>D</b
    ><span class="text-body-secondary">elete all items and/or categories</span>
  </p>
</div>
